@import url('/src/partials/header/mobile_menu/mobile_menu.css');

.header_wrap {
	background: var(--header-bg-color);
	background-size: cover;
	border-bottom: 1px solid rgba(0, 0, 0, 1);
	height: 82px;
	width: 100%;
}

.header_container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0px 8px;
}

.container {}

.header-logo-link>svg {
	width: 80px;
	height: 80px;
	flex-shrink: 0;
}

.link {}

.icon-logo {

}

.header-burger-wrap {}

.header-burger-opener {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: none;

	stroke-width: 1px;
	stroke: var(--black-100);
}

.header-burger-icon {}