.header {}

.header_container {

}

.header_wrapper {
	display: flex;
	justify-content: space-between;
	position: relative;
	align-items: center;
}


.header_container::after {
	content: "";
	display: block;
	position: absolute;
	border: 1px solid var(--black);
	width: 375px;
	height: 0px;
}

.header_logo {

}

.header_burger {
	fill: var(--black);
	stroke-width: 1px;
	stroke: var(--black);
}

.logo_link {
	font-family: "Montserrat", sans-serif;
}