<section class="menu_section" id="menu">
	<div class="menu_container container">

<div class="menu_block_wrap">
<div class="menu_select_wrap">
	<div class="title_line_wrap">
		<h1 class="select_wrap_title">Menu</h1>
		<svg class="select_wrap_svg">
			<use href="/src/images/symbol-defs.svg#icon-line_menu"></use>
		</svg>
	</div>

	<ul class="select_wrap_list">
		<li class="select_item">
			<p>Чімі</p>
		</li>
		<li class="select_item">
			<p>крем</p>
		</li>
		<li class="select_item">
			<p>випічка</p>
		</li>
		<li class="select_item">
			<p>кава</p>
		</li>
		<li class="select_item">
			<p>не кава</p>
		</li>
	</ul>
</div>


<div class="menu_select_block">
	<svg class="block_svg_first">
	<use href="/src/images/symbol-defs.svg#icon-bg_menu_first"></use>
	</svg>
	<h2 class="select_block_title">чімі</h2>
	<svg class="block_svg_second">
	<use href="/src/images/symbol-defs.svg#icon-bg_menu_second"></use>
	</svg>
	<p class="select_block_text">солодкі</p>
</div>
</div>
		

		<div class="menu_select_img">
			<ul class="select_img_list">
				<li class="select_img_item">
					<img src="/src/images/chimi_menu_main/chimi_cinammon_1x-min.png" alt="Чімі">
					<div class="menu_text_wrapper">
					<h3 class="select_chimney_title">Кориця</h3>
					<p class="select_chimney_text">80 грн</p>
					</div>

				</li>
				<li class="select_img_item special">
					<img src="/src/images/chimi_menu_main/chimi_sugar_1x-min.png" alt="Чімі">
					<div class="img_description">
					<h3 class="select_chimney_title">Цукровий</h3>
					<p class="select_chimney_text">80 грн</p>
					</div>
				</li>
				<li class="select_img_item">
					<img src="/src/images/chimi_menu_main/chimi_coconut_1x-min.png" alt="Чімі">
					<div class="menu_text_wrapper">
					<h3 class="select_chimney_title">Кокос</h3>
					<p class="select_chimney_text">80 грн</p>
					</div>

				</li>
				<li class="select_img_item">
					<img src="/src/images/chimi_menu_main/chimi_oreo_1x-min.png" alt="Чімі">
					<div class="menu_text_wrapper">
					<h3 class="select_chimney_title">Орео</h3>
					<p class="select_chimney_text">80 грн</p>
					</div>

				</li>
				<li class="select_img_item">
					<img src="/src/images/chimi_menu_main/chimi_nut_1x-min.png" alt="Чімі">
					<div class="menu_text_wrapper">
					<h3 class="select_chimney_title">Горіх</h3>
					<p class="select_chimney_text">80 грн</p>
					</div>

				</li>
				<li class="select_img_item">
					<img src="/src/images/chimi_menu_main/chimi_non_parel-min.png" alt="Чімі">
					<div class="menu_text_wrapper">
					<h3 class="select_chimney_title">Нонпарель</h3>
					<p class="select_chimney_text">80 грн</p>
					</div>

				</li>
				<li class="select_img_item">
					<img src="/src/images/chimi_menu_main/chimi_cookies_1x-min.png" alt="Чімі">
					<div class="menu_text_wrapper">
					<h3 class="select_chimney_title">Печиво</h3>
					<p class="select_chimney_text">80 грн</p>
					</div>

				</li>
				<li class="select_img_item">
					<img src="/src/images/chimi_menu_main/chimi_waffle_1x-min.png" alt="Чімі">
					<div class="menu_text_wrapper">
					<h3 class="select_chimney_title">Вафля</h3>
					<p class="select_chimney_text">80 грн</p>
					</div>

				</li>
			</ul>
		</div>
	</div>
</section>