<section class="cream_inside_section">
	<div class="cream_inside_container container">
		<h2 class="cream_inside_title">крем в середину</h2>
		<svg class="cream_inside_svg">
			<use href="/src/images/cream_inside/cream_inside_svg.svg"></use>
		</svg>

		<ul class="cream_inside_list">
			<li class="cream_inside_item">
				<img src="/src/images/cream_inside/nutela_1x-min.png" alt="">
				<h3 class="cream_list_title">Нутела</h3>
				<p class="cream_list_text">+30 грн</p>
			</li>
			<li class="cream_inside_item">
				<img src="/src/images/cream_inside/poppy_1x-min.png" alt="">
				<h3 class="cream_list_title">Маковий</h3>
				<p class="cream_list_text">+30 грн</p>
			</li>
			<li class="cream_inside_item">
				<img src="/src/images/cream_inside/salted_caramel_1x-min.png" alt="">
								<h3 class="cream_list_title">Солона карамель</h3>
								<p class="cream_list_text">+30 грн</p>
			</li>
			<li class="cream_inside_item">
				<img src="/src/images/cream_inside/toffee_1x-min.png" alt="">
								<h3 class="cream_list_title">Ірисковий</h3>
								<p class="cream_list_text">+30 грн</p>
			</li>
			<li class="cream_inside_item">
				<img src="/src/images/cream_inside/berry_1x-min.png" alt="">
								<h3 class="cream_list_title">Ягідний</h3>
								<p class="cream_list_text">+30 грн</p>
			</li>
			<li class="cream_inside_item">
				<img src="/src/images/cream_inside/pistachio_1x-min.png" alt="">
								<h3 class="cream_list_title">Фісташковий</h3>
								<p class="cream_list_text">+30 грн</p>
			</li>
			<li class="cream_inside_item">
				<img src="/src/images/cream_inside/banana_1x-min.png" alt="">
								<h3 class="cream_list_title">Банановий</h3>
								<p class="cream_list_text">+30 грн</p>
			</li>
			<li class="cream_inside_item">
				<img src="/src/images/cream_inside/almond_1x-min.png" alt="">
								<h3 class="cream_list_title">Мигдалевиц</h3>
								<p class="cream_list_text">+30 грн</p>
			</li>
			<li class="cream_inside_item">
				<img src="/src/images/cream_inside/pear_gorgonzola_1x-min.png" alt="">
								<h3 class="cream_list_title">Груша - горгонзола</h3>
								<p class="cream_list_text">+30 грн</p>
			</li>
			<li class="cream_inside_item">
				<img src="/src/images/cream_inside/dor_blue_berry_1x-min.png" alt="">
								<h3 class="cream_list_title">Дорблю - ягода</h3>
								<p class="cream_list_text">+30 грн</p>
			</li>
		</ul>
	</div>
</section>