
.main_section {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	background: var(--current-bg);
	background-size: cover;

	position: relative;

	overflow: hidden;

	padding-top: 74px;
}

.main_container {
	display: flex;
	flex-direction: column;
	gap: 80px;

}

.main_title {
	font-family: var(--font-family);
	font-weight: var(--normal);
	font-size: var(--body-regular);
	text-transform: uppercase;
	color: var(--black-100);

	width: 345px;

	text-align: center;

}

.main_text_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;

}

.main_subtitle {
	font-family: var(--font-family);
	font-weight: var(--normal);
	font-size: var(--subtitle);
	text-align: center;
	color: var(--black-100);

	width: 310px;
}

@media only screen and (min-width: 744px) {
.main_top_wrap {
	/* margin-top: 145px; */
}
.main_section {
		padding: 65px 40px 0;
	}


.main_title {
	font-size: var(--subtitle-3);
	width: 517px;
}

.main_subtitle {
	font-size: var(--subtitle-2);

	width: 525px;
}
}

@media only screen and (min-width: 1280px) {
.main_top_wrap {
	/* margin-top: 141px; */
}
.main_section {
		padding: 0 80;
	}

	.main_title {
		font-size: var(--title-1);
		width: 647px;
	}

	.main_subtitle {
		font-size: var(--body-regular);

		width: 637px;
	}
}
/*? ---------------BUTTOM_BLOCK----------------- */
.main_button-block {
	display: flex;
	padding: 0 16px;

	z-index: 10;

	position: relative;

}

.slider_btns_list {
	display: flex;
	width: 100%;
	justify-content: space-between;

	position: absolute;
	bottom: 410px;
	left: 0;
}

.slider-btn {
	font-size: 0;
	width: 44px;
	height: 44px;
	background-color: rgba(217, 217, 217, 0.4);
	border-radius: 100%;
	border: transparent;
	cursor: pointer;
}

.slider-icon {
	width: 8px;
	height: 14px;
	fill: var(--black-100);
}

@media only screen and (min-width: 744px) {
.slider-btn {
	width: 100px;
	height: 100px;
}

.slider-icon {
	width: 16px;
	height: 30px;
}

.main_button-block {
	position: relative;
	z-index: 999;
}

.slider_btns_list {
	bottom: 120px;
}
}

.main_circle_img_wrapper {
	display: flex;
	gap: 4px;
}

.main_circle_text {
	display: flex;
   flex-direction: column;
   gap: 14px;

	z-index: 2;
}

@media only screen and (min-width: 744px) {
.main_circle_img_wrapper {
	/* margin-top: 193px; */
		}

.main_circle_text li {
	width: calc((100% - (3 * 38.5px)) / 4);
	}

.main_circle_text {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 34px;
	}

.main_circle_img_wrapper {
	flex-direction: column;
	align-items: center;
	gap: 29px;
	margin-top: 114px;
	}
}

@media only screen and (min-width: 1280px) {
.main_circle_img_wrapper {
		margin-top: 127px;
	}

	.main_circle_text {
		flex-wrap: nowrap;
		gap: 27.5px;
	}

}

.main_image_container {
position: relative;

width: 390px;
height: 389px;

}

.main_image_container::before {
	content: "";
	position: absolute;
	width: 390px;
	height: 389px;
	border-radius: 100%;
	background-color: var(--current-circle);
	display: block;
	top: 20px;
	left: 0;
}

.main_image_container::after {
content: "";
position: absolute;
width: 372px;
height: 372px;
border-radius: 100%;

border: 1px solid var(--black-100);
box-sizing: border-box;

top: 28px;
left: 10px;
}

@media only screen and (min-width: 744px) {

.main_image_container::before {
	width: 693px;
	height: 692px;
}

.main_image_container::after {
	width: 663px;
	height: 663px;
}

.main_image_container::before,
.main_image_container::after {
	position: absolute;
	top: 104%;
	left: 50%;
	transform: translate(-50%, -50%);
}
}


.main_image_item {
position: absolute;

z-index: 2;
}

.main_image_item:nth-child(1) {
	top: 40px;
	left: 90px;

	width: 194px;
	height: 393px;
	transform: rotate(-30deg);
}

.main_image_item:nth-child(2) {
	top: 40px;
	left: 94px;
	
	width: 191px;
	height: 404px;
	transform: rotate(-30deg);

}

.main_image_item:nth-child(3) {
width: 224px;
height: 409px;

left: 60px;
top: 8px;
transform: rotate(-21deg);
}

.main_image_item:nth-child(4) {
width: 190px;
height: 478px;

transform: rotate(-15deg);
left: 76px;

}

.main_image_item:nth-child(5) {
width: 226px;
height: 385px;

left: 90px;
transform: rotate(-18deg);
top: 30px;
}

.main_image_item:nth-child(6) {
width: 195px;
height: 379px;

transform: rotate(-18deg);
left: 90px;
top: 40px;
}

.main_image_item:nth-child(7) {
width: 212px;
height: 389px;

transform: rotate(-15deg);
left: 98px;
top: 34px;
}

.main_image_item:nth-child(8) {
width: 213px;
height: 382px;

top: 30px;
left: 90px;
transform: rotate(-30deg);
}

@media only screen and (min-width: 744px) {
.main_image_item:nth-child(1) {
		width: 311px;
		height: 630px;
		top: 80%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.main_image_item:nth-child(2) {
		top: 40px;
		left: 94px;

		width: 299px;
		height: 630px;
		top: 76%;
			left: 50%;
			transform: translate(-50%, -50%);

	}

	.main_image_item:nth-child(3) {
	width: 359px;
	height: 656px;

	top: 74%;
	left: 50%;
	transform: translate(-50%, -50%);
	}

	.main_image_item:nth-child(4) {
	width: 368px;
	height: 926px;

	top: 44%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	}

	.main_image_item:nth-child(5) {
	width: 385px;
	height: 656px;

	top: 86%;
	left: 50%;
	transform: translate(-50%, -50%);
	}

	.main_image_item:nth-child(6) {
	width: 330px;
	height: 641px;

	top: 82%;
	left: 50%;
	transform: translate(-50%, -50%);
	}

	.main_image_item:nth-child(7) {
		width: 359px;
		height: 657px;

		top: 84%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.main_image_item:nth-child(8) {
		width: 360px;
		height: 645px;

		top: 80%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.word {
font-family: var(--font-family);
font-weight: var(--normal);
font-size: var(--body-2);
text-align: center;
color: var(--black-100);

cursor: pointer;

transition: color 0.3s ease;

position: relative;
}

.word::after {
	content: '';
	display: none;
	width: 93px;
	height: 0px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	transition: all 0.3s ease;
}

.word.active {
	color: var(--background);
}

.word.active::after {
	border: 1px solid var(--background);
	display: block;
}

.word::before {
	content: '';
	display: none;
	position: absolute;

	top: 100%;
	left: 50%;

	transform: translate(-50%, -50%);

	width: 7px;
	height: 7px;
	border-radius: 100%;
	background-color: var(--background);
}

.word.active::before {
	display: block;
}

@media only screen and (min-width: 744px) {
	.word {
			font-size: var(--subtitle-3);
	}

		.word.active {
			font-size: 26px;
				}

		.word::after {
			width: 180px;
		}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
/*? ---------------ADDITIONAL_IMAGES----------------- */
#additionalImages .additional-images.hidden {
	display: none;
}

#additionalImages {
	position: relative;
	height: 100%;
}

#additionalImages .additional-images {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	animation: fadeIn 0.5s ease-out forwards;
}

#additionalImages .additional-images .main_coconut_3_second_milk .main_coconut_3_first_milk {
z-index: 9;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.main_coconut_1 {
	width: 77px;
	height: 76px;
	position: absolute;

	left: -50px;
	top: 108px;

	transform: translateX(10px)translateY(-218px)rotate(40deg);
	opacity: 0.2;

	z-index: 3;
}

.clone_coconut_1 {
	width: 77px;
	height: 76px;
	opacity: .2;
	position: absolute;
	transform: rotate(-45deg);
}

.main_coconut_1_clone {
width: 73px;
height: 72px;
transform: translateX(78px) translateY(-268px) rotate(165deg);

opacity: 0.2;

position: absolute;
}

.main_coconut_1_second_clone {
position: absolute;

width: 77px;
height: 76px;

transform: translateX(-40px)translateY(84px)rotate(-15deg);
opacity: 0.2;
}

.main_coconut_2 {
	width: 74px;
	height: 78px;
	position: absolute;

	transform: translateX(-38px)translateY(-78px)rotate(105deg);
}

.coconut_2_first_clone {
	width: 25px;
	height: 26px;

	position: absolute;

	transform: translateX(88px)translateY(-88px)rotate(81deg);
}

.coconut_2_second_clone {
	width: 47px;
	height: 50px;
	transform: translateX(338px)translateY(18px)rotate(-60deg);
	position: absolute;
}

.coconut_2_third_clone {
	width: 122px;
	height: 128px;

	position: absolute;

	transform: translateX(228px)translateY(124px)rotate(75deg);
	opacity: 0.2;
}

.coconut_2_fourth_clone {
	width: 95px;
	height: 99px;
	transform: translateX(-8px)translateY(554px)rotate(105deg);
	position: absolute;

	opacity: 0.2;
}

.main_coconut_3 {
	width: 200px;
	height: 172px;
	transform: scaleX(-1)translateX(-240px)translateY(-164px);

	position: absolute;
}

.main_coconut_3_first_milk {
	width: 213px;
	height: 382px;

	transform: scaleX(-1)translateX(-70px)translateY(446px);

	position: absolute;
}

.main_coconut_3_second_milk {
width: 589px;
height: 505px;
transform: scaleX(-1)translateX(150px)translateY(384px);

opacity: 0.1;

position: absolute;
}


.main_coconut_3_third_milk {
	position: absolute;

	width: 179px;
	height: 153px;

	transform: scaleX(-1)translateX(134px)translateY(84px)rotate(-80deg);
}

.main_coconut_3_fourth_milk {
	display: none;
}
@media only screen and (min-width: 744px) {
	.main_coconut_1 {
			width: 119px;
			height: 117px;
			top: -28px;
			left: 10px;
			transform: rotate(-15deg);
		}
	
	
				.main_coconut_1_second_clone {
			width: 150px;
			height: 148px;
			transform: translateX(-148px) translateY(288px) rotate(120deg);;
	
			opacity: unset;
			}
	

	
		.main_coconut_3 {
		width: 200px;
		height: 172px;
		transform: scaleX(-1)translateX(-540px)translateY(54px);

}

.coconut_2_third_clone {
	width: 153px;
	height: 161px;
	transform: translateX(528px)translateY(544px)rotate(75deg);
	opacity: 0.2;
}



.main_coconut_2 {
	transform: translateX(588px) translateY(100px);
	z-index: 9;
	width: 186px;
	height: 195px;

}

.main_coconut_3_first_milk {
width: 267px;
	height: 229px;
	position: absolute;
	transform: scaleX(-1)translateX(110px)translateY(864px)rotate(-10deg);
	z-index: 9;
}

.main_coconut_3_second_milk {
	width: 207px;
	height: 209px;
	opacity: unset;
	transform: translateX(440px)translateY(894px)rotate(-85deg);
	z-index: 9;
}


.main_coconut_3_fourth_milk {
	width: 267px;
	height: 229px;
	transform: translateX(480px)translateY(874px)rotate(-30deg);
	z-index: 9;

	position: absolute;
}
.coconut_2_second_clone {
display: none;
}

.coconut_2_first_clone {
	display: none;
}
.main_coconut_3_third_milk {
	display: block;
	position: absolute;

	width: 277px;
	height: 237px;

	transform: scaleX(-1)translateX(240px)translateY(49px)rotate(-29deg);
}
}
/*? ---------------Cinnamone_IMAGES----------------- */
.main_cinnamone_1 {
display: none;
}

.main_cinnamone_2 {
	width: 78px;
	height: 49px;

	position: absolute;

	top: -120px;
	right: -26px;

	transform: rotate(30deg);
}

.main_cinnamone_3 {
	width: 208px;
	height: 188px;

	position: absolute;

	opacity: .2;
	top: 28px;
	right: -120px;
}

.main_cinnamone_4 {
	width: 118px;
	height: 97px;

	position: absolute;

	left: -80px;
	top: -136px;
}

.main_cinnamone_5 {
	width: 131px;
	height: 137px;

	position: absolute;

	transform: translateX(-44px)translateY(-188px)rotate(180deg);
	opacity: 0.2;
}

.first_cinnamone_set {
width: 86px;
height: 71px;

transform: translateX(308px)translateY(-184px)rotate(30deg);

opacity: 0.2;

position: absolute;
}


.first_cinnamone_stick {
	width: 95px;
	height: 60px;

	position: absolute;

	top: -46px;
	left: 430px;
	transform: rotate(22deg);
	z-index: 2;
}

.second_cinnamone_stick {
	width: 31px;
	height: 20px;

	position: absolute;

	top: 440px;
	left: 30px;
	transform: scaleX(-1);
}

.third_cinnamone_stick {
	width: 120px;
	height: 76px;
	display: none;
}

.fourth_cinnamone_stick {
	width: 77px;
	height: 69px;
	display: none;
}


.cinnamone_three_sticks {
	display: none;
}


.second_cinnamone_set {
	display: none;
}

.first_cinnamone_leaves {
	width: 98px;
	height: 102px;

	position: absolute;

	opacity: 0.2;

	transform: translateX(192px)translateY(-260px);
}

.second_cinnamone_leaves {
	width: 92px;
	height: 96px;
	position: absolute;
	top: 8px;
	left: -42px;
	transform: rotate(160deg);
}

.third_cinnamone_leaves {
	width: 140px;
	height: 146px;
	opacity: 0.4;
	transform: translateX(-62px)translateY(450px)rotate(180deg);

	position: absolute;
}

.fourth_cinnamone_leaves {
	display: none;
}


@media only screen and (min-width: 744px) { 
.main_cinnamone_4 {
		width: 246px;
		height: 204px;
		transform: translateX(-82px)translateY(130px);
		z-index: 2;
	}

.second_cinnamone_leaves {
width: 292px;
height: 305px;

transform: scale(-1) translateX(122px) translateY(-70px) rotate(95deg);
}

.third_cinnamone_leaves {
	width: 200px;
	height: 208px;
	opacity: unset;
	transform: translateX(532px)translateY(160px)rotate(29.09deg);

}

.second_cinnamone_stick {
		width: 217px;
		height: 137px;
		opacity: .5;
		top: 580px;
		left: -110px;
		transform: rotate(15deg);
}

.main_cinnamone_1 {
display: block;
width: 251px;
height: 266px;
transform: scale(-1)translateX(-532px)translateY(-740px)rotate(-90deg);
position: absolute;

z-index: 2;
}


.first_cinnamone_set {
	width: 171px;
	height: 142px;
	transform: translateX(430px)translateY(524px)rotate(16deg);
	opacity: 0.5;
}

.fourth_cinnamone_stick {
	width: 65px;
	height: 41px;
	display: block;
	transform: translateX(130px)translateY(264px)rotate(-165deg);
}


}
/*? ---------------NUT_IMAGES----------------- */

.main_nut_1 {
	width: 92px;
	height: 93px;

	transform: translateX(-56px) translateY(-180px);

	position: absolute;
}

.main_nut_2 {
	width: 96px;
	height: 70px;

	transform: scaleX(-1)translateX(-280px)translateY(-90px)rotate(-20deg);

	opacity: 0.8;

	position: absolute;

}

.main_nut_3 {
	display: none;
}

.main_nut_4 {
	width: 449px;
	height: 220px;

	opacity: 0.2;

	object-fit: cover;
	transform: translateX(60px)translateY(-316px)rotate(-30deg);

	position: absolute;

}

.first_nut_plate {
	width: 109px;
	height: 110px;

	transform: translateX(280px)translateY(130px);
	opacity: 0.2;

	position: absolute;
}

.second_nut_plate {
	display: none;
}

.first_nut_4 {
	transform: translateX(-90px)translateY(404px)rotate(180deg);
	opacity: 0.2;

	position: absolute;

	width: 449px;
	height: 233px;
}

/*? ---------------SUGAR----------------- */

.main_sugar_1 {
	width: 85px;
	height: 75px;
	transform: translateX(-52px)translateY(-138px);

	position: absolute;
}

.main_sugar_2 {
	width: 176px;
	height: 168px;

	transform: translateX(282px)translateY(-130px);

	position: absolute;
}

.main_sugar_3 {
	width: 47px;
	height: 45px;

	transform: translateX(216px)translateY(-80px)rotate(250deg);

	position: absolute;
}

.main_sugar_4 {
	width: 290px;
	height: 229px;

	transform: translateX(-264px)translateY(-414px)rotate(-124deg);

	position: absolute;
}

.first_sugar_plate {
	width: 176px;
	height: 168px;

	transform: translateX(-100px)translateY(410px);

	opacity: 0.4;

	position: absolute;
}

.first_sugar_spoon {
	width: 143px;
	height: 138px;

	transform: scaleX(-1)translateX(-68px)translateY(498px)rotate(-15deg);
	position: absolute;
	z-index: 9;
}

.second_sugar_spoon {
	display: none;
}

.first_sugar_decor {
width: 290px;
height: 229px;
position: absolute;
transform: translateX(-240px) translateY(-160px) rotate(-130deg);
}

.second_sugar_decor {
width: 273px;
height: 215px;
position: absolute;
transform: translateX(282px) translateY(-150px) rotate(-234deg);
}

.third_sugar_decor {
width: 348px;
height: 274px;

transform: translateX(-142px)translateY(458px)rotate(-180deg);
}

/*? ---------------WAFFLE----------------- */

.main_waffle_1 {
	display: none;
}

.main_waffle_2 {
	width: 60px;
	height: 60px;
	transform: translateX(-32px)translateY(-104px);
}

.main_waffle_3 {
	width: 50px;
	height: 50px;
	transform: translateX(294px)translateY(-190px);
}

.main_waffle_board {
	display: none;
}

.first_dark_waffle {
	width: 60px;
	height: 60px;
	transform: translateX(-20px)translateY(-180px);
	opacity: 0.2;
}

.second_dark_waffle {
	width: 60px;
	height: 60px;
	transform: translateX(318px)translateY(-284px);
	opacity: 0.2;
}

.third_dark_waffle {
	width: 31px;
	height: 31px;

	transform: translateY(-180px);
	opacity: 0.2;
}

.fourth_dark_waffle {
	width: 24px;
	height: 24px;

	transform: translateX(80px) translateY(-140px);
}

.fifth_dark_waffle {
	width: 154px;
	height: 153px;

	transform: translateX(-60px) translateY(174px);
	opacity: 0.2;
}

.sixth_dark_waffle {
	width: 30px;
	height: 30px;

	transform: translateX(108px) translateY(-184px);
	opacity: 0.2;
}

.first_light_waffle {
	width: 41px;
	height: 39px;

	transform: translateX(88px)translateY(-234px);
}

.seventh_dark_waffle {
width: 60px;
height: 60px;

transform: translateX(98px)translateY(24px);

opacity: 0.2;
}

.second_light_waffle {
display: none;


}

.third_light_waffle {
	display: none;
}

.fourth_light_waffle {
	display: none;
}


/*? ---------------OREO----------------- */
.main_oreo_1 {
	width: 83px;
	height: 123px;

	transform: translateX(-48px)translateY(476px)rotate(-60deg);

	position: absolute;
	z-index: 3;
}

.main_oreo_2 {
	width: 136px;
	height: 131px;

	transform: translateX(168px)translateY(-198px)rotate(105deg);
}

.main_oreo_3 {
	width: 103px;
	height: 123px;

	transform: translateX(-58px)translateY(-242px);
}

.first_oreo_set {
	width: 188px;
	height: 225px;
	transform: translateX(-88px)translateY(162px)rotate(45deg);
}

.second_oreo_set {
	width: 144px;
	height: 173px;

	transform: translateX(278px)translateY(-382px)rotate(135deg);
}

.third_oreo_set {
	display: none;
}
/*? ---------------NON-PAREL----------------- */
.main_nonparel_1 {
	width: 167px;
	height: 131px;

	transform: translateX(-58px)translateY(444px)rotate(-75deg);

	opacity: 0.4;
}

.main_nonparel_2 {
	width: 35px;
	height: 36px;

	transform: translateX(5px) translateY(336px) rotate(-95deg);
	position: absolute;
}

.main_nonparel_3 {
	width: 20px;
	height: 21px;

	transform: translateX(60px) translateY(334px);
	position: absolute;
}

.main_nonparel_4 {
	width: 36px;
	height: 35px;

	transform: translateX(-22px)translateY(266px);
}

.main_nonparel_5 {
	width: 18px;
	height: 18px;

	transform: translateX(78px)translateY(302px);
}

.first_nonparel_2 {}

.second_nonparel_2 {
	width: 33px;
	height: 32px;

	transform: translateX(-18px) translateY(140px) rotate(-30deg);
	position: absolute;
}

.first_nonparel_red {
width: 15px;
height: 16px;

transform: translateY(124px);
}

.second_nonparel_red {
position: absolute;
	width: 20px;
	height: 21px;
	transform: translateX(88px) translateY(226px);
}

.third_nonparel_red {
width: 11px;
height: 11px;

transform: translateX(78px)translateY(-28px);
}

.fourth_nonparel_red {
	width: 22px;
	height: 23px;

	transform: translateX(-5px) translateY(-8px);
	position: absolute;
	opacity: 0.2;
}

.fifth_nonparel_red {
	width: 9px;
	height: 9px;

	transform: translateX(265px)translateY(-730px);
}

.main_nonparel_1_clone {
width: 102px;
height: 80px;

transform: translateX(310px)translateY(-290px)rotate(120deg)
}

.sixth_nonparel_red {
width: 19px;
height: 20px;
transform: translateX(354px)translateY(-340px);

}

.first_nonparel_green {
width: 18px;
height: 18px;
transform: translateX(280px)translateY(-454px);

}

.second_nonparel_green {
width: 10px;
height: 10px;

transform: translateX(230px) translateY(-414px);
position: absolute;
}

.third_nonparel_green {
width: 5px;
height: 5px;

transform: translateX(188px) translateY(-394px);
}

/* .fourth_nonparel_green {}

.fifth_nonparel_green {}

.sixth_nonparel_green {}

.seventh_nonparel_green {}

.eighth_nonparel_green {}

.nines_nonparel_green {} */

.first_nonparel_blue {
width: 10px;
height: 10px;

transform: translateX(238px)translateY(-454px);
}

.second_nonparel_blue {
width: 7px;
height: 7px;

transform: translateX(170px)translateY(-460px);
}
/* 
.third_nonparel_blue {}

.fourth_nonparel_blue {}

.fifth_nonparel_blue {}

.sixth_nonparel_blue {}

.seventh_nonparel_blue {}

.eighth_nonparel_blue {}

.nines_nonparel_blue {}

.tenth_nonparel_blue {} */
/*? ---------------cOOKIES----------------- */
.main_cookie_1 {
	width: 134px;
	height: 121px;
	position: absolute;

transform: translateX(-78px)translateY(448px)rotate(135deg);

}

.main_cookie_2 {
	width: 66px;
	height: 66px;

	transform: translateX(328px)translateY(-128px);
	position: absolute;
}

.main_cookie_3 {
	width: 95px;
	height: 73px;

	transform: translateX(-48px)translateY(-48px);
	position: absolute;
}

.first_single_cookie {
	width: 25px;
	height: 25px;

	transform: translateX(148px)translateY(180px);
	position: absolute;
}

.second_single_cookie {
width: 66px;
height: 66px;

position: absolute;

transform: translateX(188px)translateY(180px);
}

.third_single_cookie {
width: 72px;
height: 72px;
position: absolute;

transform: translateX(88px)translateY(470px);

opacity: 0.2;
}

.fourth_single_cookie {
width: 37px;
height: 37px;

position: absolute;

transform: translateX(124px)translateY(-244px);

opacity: 0.2;
}

.first_double_cookies {}
/*? ---------------TABLET----------------- */



/*? ---------------DESKTOP ----------------*/