.main_section {
	padding: 154px 0 0;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	background: var(--current-bg);
	background-size: cover;
}

.main_container {
	display: flex;
	flex-direction: column;
	gap: 27px;
}

.main_top_wrap {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.main_title {
	font-family: var(--font-family);
	font-weight: var(--normal);
	font-size: var(--body-regular);
	text-transform: uppercase;
	color: var(--black-100);

	width: 345px;

	text-align: center;

}

.main_text_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;

	/* z-index: 2; */
}

.main_subtitle {
font-family: var(--font-family);
	font-weight: var(--normal);
	font-size: var(--subtitle);
	text-align: center;
	color: var(--black-100);
}

/*? ---------------BUTTOM_BLOCK----------------- */
.main_button-block {
	display: flex;
	padding: 0 16px;

	z-index: 10;

}

.slider_btns_list {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.slider-btn {
	font-size: 0;
	width: 44px;
	height: 44px;
	background-color: rgba(217, 217, 217, 0.4);
	border-radius: 100%;
	border: transparent;
	cursor: pointer;
}

.slider-icon {
	width: 8px;
	height: 14px;
	fill: var(--black-100);
}


.main_circle_img_wrapper {
	position: relative;

	display: flex;
	gap: 4px;
}

.main_circle_text {
	display: flex;
   flex-direction: column;
   gap: 14px;

	z-index: 2;
}

.main_image_container {
position: relative;

width: 390px;
height: 389px;

overflow: hidden;

z-index: 10;
}


.main_image_container::before {
	content: "";
	position: absolute;
	width: 390px;
	height: 389px;
	border-radius: 100%;
	background-color: var(--current-circle);
	display: block;
	top: 20px;
	left: 0;
}

.main_image_container::after {
content: "";
position: absolute;
width: 372px;
height: 372px;
border-radius: 100%;

border: 1px solid var(--black-100);
box-sizing: border-box;

top: 28px;
left: 10px;
}

.main_image_list {
	z-index: 2;
	position: relative;

}

.main_image_item {
position: absolute;
transform: rotate(-30deg);

z-index: 2;
}

.main_image_item:nth-child(1) {
	top: 40px;
	left: 90px;

	width: 194px;
	height: 393px;
}

.main_image_item:nth-child(2) {
	top: 40px;
	left: 94px;
	
	width: 191px;
	height: 404px;


}

.main_image_item:nth-child(3) {
width: 224px;
height: 409px;

left: 60px;
transform: rotate(-21deg);
}

.main_image_item:nth-child(4) {
width: 190px;
height: 478px;

transform: rotate(-15deg);
left: 70px;

}

.main_image_item:nth-child(5) {
width: 226px;
height: 385px;

left: 90px;
transform: rotate(-18deg);
top: 30px;
}

.main_image_item:nth-child(6) {
width: 195px;
height: 379px;

transform: rotate(-18deg);
left: 90px;
top: 40px;
}

.main_image_item:nth-child(7) {
width: 212px;
height: 389px;

transform: rotate(-15deg);
left: 98px;
top: 34px;
}

.main_image_item:nth-child(8) {
width: 213px;
height: 382px;

top: 30px;
left: 90px;
}

.word {
font-family: var(--font-family);
font-weight: var(--normal);
font-size: var(--body-2);
text-align: center;
color: var(--black-100);

cursor: pointer;

transition: color 0.3s ease;

position: relative;
}

.word::after {
	content: '';
	display: none;
	width: 93px;
	height: 0px;
	position: absolute;
	left: 44px;
	transform: translateX(-50%);
	transition: all 0.3s ease;
}

.word.active {
	color: var(--background);
}

.word.active::after {
	border: 1px solid var(--background);
	display: block;
}

.word::before {
	content: '';
	display: none;
	position: absolute;

	top: 18px;
	left: 44px;

	transform: translate(-50%, -50%);

	width: 7px;
	height: 7px;
	border-radius: 100%;
	background-color: var(--background);
}

.word.active::before {
	display: block;
}

.main_image_item {}

.mainImage {}

.main_img_hidden {}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
/*? ---------------ADDITIONAL_IMAGES----------------- */
#additionalImages .additional-images.hidden {
	display: none;
}

#additionalImages .additional-images {
	animation: fadeIn 0.5s ease-out forwards;
	position: fixed;
	top: 20px;
	left: 20px;

}


@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.main_images_container {
	position: relative;
}

.main_coconut_1 {
	width: 77px;
	height: 76px;
	position: absolute;

	left: -50px;
	top: 108px;

	transform: rotate(40deg);
	opacity: 0.2;
}

.clone_coconut_1 {
	width: 77px;
	height: 76px;
	opacity: .2;
	position: absolute;
	transform: rotate(-45deg);
	left: -60px;
	top: 220px;
}

.main_coconut_1_clone {
width: 73px;
height: 72px;
transform: translateX(78px) translateY(-48px) rotate(165deg);

opacity: 0.2;
}

.main_coconut_2 {
	width: 74px;
	height: 78px;
	position: absolute;

	left: -50px;
	top: 124px;

	transform: rotate(105deg);
}

.main_coconut_3 {
	width: 200px;
	height: 172px;
	transform: scaleX(-1) translateX(-240px) translateY(50px);
}

.clone_milk_1 {
	width: 200px;
	height: 171px;
	transform: scaleX(-1) translateX(-130px) translateY(296px);
	position: absolute;

}

.clone_milk_2 {
	width: 589px;
	height: 505px;
	opacity: 0.2;
	transform: scaleX(-1) translateX(54px) translateY(164px);
}

.clone_milk_3 {
	width: 179px;
	height: 153px;
	transform: scaleX(-1) translateX(144px) translateY(-458px) rotate(-76deg);
	position: absolute;
}

.clone_second_nut_1 {
	position: absolute;
	width: 25px;
	height: 26px;

	top: 30px;
	left: 50px;

	transform: scaleX(-1);


}

.clone_second_nut_2 {
	position: absolute;
	width: 47px;
	height: 50px;

	top: 140px;
	right: -20px;
}


.clone_second_nut_4 {
	width: 95px;
	height: 99px;
	opacity: .2;
	position: absolute;
	transform: scaleX(-1);
	right: 28px;
	top: 270px;
}

/*? ---------------Cinnamone_IMAGES----------------- */
.main_cinnamone_1 {
	width: 86px;
	height: 71px;

	position: absolute;
	transform: scaleX(-1) rotate(-18deg);

	left: 304px;
	opacity: 0.2;
}

.main_cinnamone_2 {
	width: 78px;
	height: 49px;

	position: absolute;

	right: -236px;
	top: 46px;

	transform: rotate(30deg);
}

.main_cinnamone_3 {
	width: 208px;
	height: 188px;

	position: absolute;

	right: -260px;
	top: 68px;

	opacity: 0.2;
}

.main_cinnamone_4 {
	width: 118px;
	height: 97px;

	position: absolute;

	left: -80px;
	top: 20px;
}

.main_cinnamone_5 {
	width: 131px;
	height: 137px;

	position: absolute;

	transform: rotate(180deg);

	left: -50px;
	top: -34px;
	opacity: 0.2;
}

.first_cinnamone_set {
	display: none;
}

@media (min-width: 664px) {
	.first_cinnamone_set {
		display: block;
	}
}


.first_cinnamone_stick {
	width: 95px;
	height: 60px;

	position: absolute;

	transform: rotate(-135deg);

	left: -60px;
	top: 200px;
}

.second_cinnamone_stick {
	width: 31px;
	height: 20px;

	position: absolute;

	top: 510px;
	left: 20px;
	transform: scaleX(-1);
}

.third_cinnamone_stick {
	width: 120px;
	height: 76px;
	display: none;
}

.fourth_cinnamone_stick {
	width: 77px;
	height: 69px;
	display: none;
}


.cinnamone_three_sticks {
	display: none;
}

.first_cinnamone_set {
	display: none;
}

.second_cinnamone_set {
	display: none;
}

.first_cinnamone_leaves {
	width: 98px;
	height: 102px;

	position: absolute;

	top: -42px;
	right: -100px;

	opacity: 0.2;
}

.second_cinnamone_leaves {
	width: 92px;
	height: 96px;
	position: absolute;
	left: -62px;
	top: 128px;
	transform: rotate(160deg);
}

.third_cinnamone_leaves {
	width: 140px;
	height: 146px;
	opacity: 0.2;
	transform: translateX(-62px) translateY(580px) rotate(180deg);
}

.fourth_cinnamone_leaves {
	display: none;
}

/*? ---------------NUT_IMAGES----------------- */

.main_nut_1 {
	width: 92px;
	height: 93px;

	transform: translateX(-56px) translateY(40px);
}

.main_nut_2 {
	width: 96px;
	height: 70px;

	transform: scaleX(-1) translateX(-280px) translateY(40px) rotate(-20deg);

	opacity: 0.8;

	z-index: 0;
}

.main_nut_3 {
	display: none;
}

.main_nut_4 {
	width: 449px;
	height: 220px;

	opacity: 0.2;

	object-fit: cover;
	transform: translateX(60px)translateY(-256px)rotate(-30deg);

}

.first_nut_plate {
	width: 109px;
	height: 110px;

	transform: translateX(280px) translateY(-140px);
	opacity: 0.2;
}

.second_nut_plate {
	display: none;
}

.first_nut_4 {
	transform: translateX(-90px) translateY(-60px) rotate(180deg);
	opacity: 0.2;
}

/*? ---------------SUGAR----------------- */

.main_sugar_1 {
	width: 85px;
	height: 75px;
	transform: translateX(-52px) translateY(68px);
}

.main_sugar_2 {
	width: 176px;
	height: 168px;

	transform: translateX(282px) translateY(-10px);
}

.main_sugar_3 {
	width: 47px;
	height: 45px;

	transform: translateX(190px) translateY(-140px) rotate(250deg);
}

.main_sugar_4 {
	width: 290px;
	height: 229px;

	transform: translateX(-254px) translateY(-284px) rotate(-124deg);
}

.first_sugar_plate {
	width: 176px;
	height: 168px;

	transform: translateX(-100px) translateY(20px);

	opacity: 0.4;
}

.first_sugar_spoon {
	width: 143px;
	height: 138px;

	transform: scaleX(-1) translateX(-68px) translateY(-60px);

	opacity: 0.3;
}

.second_sugar_spoon {
	display: none;
}

.first_sugar_decor {
	width: 273px;
	height: 215px;

	transform: translateX(220px) translateY(-866px) rotate(150deg);
}

.second_sugar_decor {
	width: 348px;
	height: 274px;

	transform: translateX(-132px) translateY(-500px) rotate(190deg);
	opacity: 0.2;
}

.third_sugar_decor {
	display: none;
}

/*? ---------------WAFFLE----------------- */

.main_waffle_1 {
	display: none;
}

.main_waffle_2 {
	width: 60px;
	height: 60px;
	transform: translateX(-42px) translateY(104px);
}

.main_waffle_3 {
	width: 50px;
	height: 50px;
	transform: translateX(280px)translateY(20px);
}

.main_waffle_board {
	display: none;
}

.first_dark_waffle {
	width: 60px;
	height: 60px;
	transform: translateX(-30px) translateY(-58px);
	opacity: 0.2;
}

.second_dark_waffle {
	width: 60px;
	height: 60px;
	transform: translateX(302px) translateY(-154px);
	opacity: 0.2;
}

.third_dark_waffle {
	width: 31px;
	height: 31px;

	transform: translateX(-20px) translateY(-80px);
}

.fourth_dark_waffle {
	width: 24px;
	height: 24px;

	transform: translateX(80px) translateY(-40px);
}

.fifth_dark_waffle {
	width: 154px;
	height: 153px;

	transform: translateX(-60px) translateY(144px);
	opacity: 0.2;
}

.sixth_dark_waffle {
	width: 30px;
	height: 30px;

	transform: translateX(108px) translateY(-84px);
	opacity: 0.2;
}

.first_light_waffle {
	width: 41px;
	height: 39px;

	transform: translateX(88px) translateY(-128px);
}

.second_light_waffle {
	width: 60px;
	height: 60px;


}

.third_light_waffle {
	display: none;
}

.fourth_light_waffle {
	display: none;
}


/*? ---------------OREO----------------- */
.main_oreo_1 {
	width: 83px;
	height: 123px;

	transform: translateX(-48px)translateY(648px)rotate(-60deg);
}

.main_oreo_2 {
	width: 136px;
	height: 131px;

	transform: translateX(168px)translateY(-104px)rotate(105deg);
}

.main_oreo_3 {
	width: 103px;
	height: 123px;

	transform: translateX(-58px)translateY(-182px);
}
/*? ---------------NON-PAREL----------------- */
.main_nonparel_1 {
	width: 167px;
	height: 131px;

	transform: translateX(-78px) translateY(564px) rotate(-75deg);

	opacity: 0.4;
}

.main_nonparel_2 {
	width: 35px;
	height: 36px;

	transform: translateX(-18px) translateY(536px) rotate(-75deg);
}

.main_nonparel_3 {
	width: 20px;
	height: 21px;

	transform: translateX(68px) translateY(456px);
}

.main_nonparel_4 {
	width: 36px;
	height: 35px;

	transform: translateX(-32px) translateY(386px);
}

.main_nonparel_5 {
	width: 18px;
	height: 18px;

	transform: translateX(58px) translateY(428px);
}
/*? ---------------cOOKIES----------------- */
.main_cookie_1 {
	width: 134px;
	height: 121px;

transform: translateX(-78px) translateY(568px) rotate(135deg);

}

.main_cookie_2 {
	width: 66px;
	height: 66px;

	transform: translateX(208px) translateY(168px);
}

.main_cookie_3 {
	width: 95px;
	height: 73px;

	transform: translateX(-48px) translateY(-98px);
}
/*? ---------------TABLET----------------- */



/*? ---------------DESKTOP ----------------*/