@import "../../node_modules/modern-normalize/modern-normalize.css";

@import url('https://fonts.cdnfonts.com/css/kharkiv-tone');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

@import url('../partials/conus_chimney/conus_chimney.css');
@import url('../partials/header/header.css');
@import url('../partials/menu/menu.css');
@import url('../partials/salted_chimney/salted_chimney.css');
@import url('../partials/cream_inside/cream_inside.css');
@import url('../partials/map/map.css');
@import url('../partials/footer/footer.css');
@import url('./reset.css');


@import url('../css/main.css');

@font-face {
	font-family: 'Kharkiv Tone', sans-serif;
	src: url('/src/fonts/KharkivTone-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat", sans-serif;
	src: url('/src/fonts/Montserrat-Medium.ttf') format('truetype');
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

:root {
	/*------fonts------*/
	--font-family: "Kharkiv Tone", sans-serif;
	--second-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: 500;


	/*--------colors-------*/
	--main-orange: #fd6103;
	--background: #eee5df;
	--black-24: #2e2724;
	--black-00: #000000;
	--light-orange: #FFA673;
	--light-grey: #AEAEAE;
	--dark_grey: #202020;
	--grey: #4A4A4A;
	--main-roze: #E4A4A4;
	--light-green: #BAD49F;
	--deep-roze: #FFA573;
	--pink: #F0AEE1;
	--deep-yellow: #F1BD43;
	--beige: #E4C3A4;
	--black-100: #211B18;
		--current-bg: linear-gradient(180deg, #cba892 0%, #583520 100%);
			--current-circle: #583520;

	--coconut-bg: linear-gradient(180deg, #cba892 0%, #583520 100%);
	--coconut-circle: #583520;

	--cinnamon-bg: linear-gradient(180deg, #d2cdba 0%, #5e5738 100%);
	--cinnamon-circle: #5E5738;

	--nut-bg: linear-gradient(180deg, #cea885 0%, #583a20 100%);
	--nut-circle: #583A20;

	--sugar-bg: linear-gradient(180deg, #d1b699 0%, #723D2A 100%);
	--sugar-circle: #723D2A;

	--waffle-bg: linear-gradient(180deg, #bdc99b 0%, #535b3c 100%);
	--waffle-circle: #535B3C;

	--oreo-bg: linear-gradient(180deg, #c7bcc1 0%, #594672 100%);
	--oreo-circle: #594672;

	--nonparel-bg: linear-gradient(180deg, #d8b259 0%, #985626 100%);
	--nonparel-circle: #985626;

	--cookie-bg: linear-gradient(180deg, #c4aea9 0%, #5a2c2c 100%);
	--cookie-circle: #56322F;







	/* ------font-sizes------*/
	--body-2: 14px;
	--title-1: 30px;
	--title-2: 38px;
	--title-3: 28px;
	--title-regular: 39px;
	--subtitle-1: 20px;
	--subtitle-2: 18px;
	--subtitle-3: 24px;
	--body-regular: 16px;
	--large-1: 77px;
	--large-2: 64px;
	--large-3: 40px;
	--subtitle: 12px;

	/*-----font-weights-----*/
	--normal: 400;
	--medium: 500;


	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	--transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.container {
	max-width: 100%;
	padding-left: 8px;
	padding-right: 8px;
	margin: 0 auto;
}

/* 
@media (min-width: 375px) {
	.container {
		max-width: 359px;
	}
}

@media (min-width: 744px) {
	.container {
		max-width: 664px;
	}
}

@media (min-width: 1440px) {
	.container {
		max-width: 1280px;
	}
} */

body {
	font-family: "Montserrat", sans-serif;
	/* background: var(--current-bg); */


}

html {
	scroll-behavior: smooth;
}