@import '~node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.cdnfonts.com/css/kharkiv-tone');

@import url('./conus_chimney.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./menu.css');
@import url('./salted_chimney.css');
@import url('./cream_inside.css');
@import url('./map.css');
@import url('./footer.css');


@font-face {
	font-family: 'Kharkiv Tone', sans-serif;
	src: url('/src/fonts/KharkivTone-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


:root {
	--font-family: "Kharkiv Tone", sans-serif;
	--second-family: "Montserrat", sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;

	--main-orange: #fd6103;
	--background: #eee5df;
	--black: #2e2724;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	--transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.container {
	max-width: 100%;
	padding-left: 16px;
	padding-right: 16px;
	margin: 0 auto;
}

@media (min-width: 375px) {
	.container {
		max-width: 359px;
	}
}

@media (min-width: 744px) {
	.container {
		max-width: 664px;
	}
}

@media (min-width: 1440px) {
	.container {
		max-width: 1280px;
	}
}

body {
	font-family: 'Kharkiv Tone', sans-serif;

}

html {
	scroll-behavior: smooth;
}